<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.Ship.ShipSearch.mapper.ShipSearchMapper">

	<select id="ShipSearch" resultType="com.example.demo.model.SHP_SPM_SC_Ship_Model">
	
		SELECT
			shipyardcode, shipnumber, customercode, series, shipnameen, furunorescompany, 
			shipspecies, shipnationality, shipclass, shiptype,
			grosstonnage, imono, builddate, f_shipno, registeredowner
		FROM
			shp_spm_sc_ship
		<where>
		    <if test="shipyardcode != null">
                AND shipyardcode = #{shipyardcode}
            </if>
            <if test="shipnumber != null">
                AND shipnumber = #{shipnumber}
            </if>
            <if test="customercode != null">
                AND customercode = #{customercode}
            </if>
            <if test="series != null">
                AND series = #{series}
            </if>
            <if test="shipnameen != null">
                AND shipnameen = #{shipnameen}
            </if>
            <if test="furunorescompany != null">
                AND furunorescompany = #{furunorescompany}
            </if>
            <if test="shipspecies != null">
                AND shipspecies = #{shipspecies}
            </if>
            <if test="shipnationality != null">
                AND shipnationality = #{shipnationality}
            </if>
            <if test="shipclass != null">
                AND shipclass = #{shipclass}
            </if>
            <if test="shiptype != null">
                AND shiptype = #{shiptype}
            </if>
            <!-- 総トン数 (from-to) の条件 -->
            <if test="grossTonnageFromByInt != 0">
                AND grosstonnage >= #{grossTonnageFromByInt}
            </if>
            <if test="grossTonnageToByInt != 0">
                AND grosstonnage &lt;= #{grossTonnageToByInt}
            </if>
            <!-- 建造年月日 (from-to) の条件 -->
            <if test="buildDateFromByDate != null">
                AND builddate >= #{buildDateFromByDate}
            </if>
            <if test="buildDateToByDate != null">
                AND builddate &lt;= #{buildDateToByDate}
            </if>
            <if test="imono != null">
                AND imono = #{imono}
            </if>
            <if test="f_shipno != null">
                AND f_shipno = #{f_shipno}
            </if>
            <if test="registeredowner != null">
                AND registeredowner = #{registeredowner}
            </if>
    	</where>
	</select>
</mapper>

